body {
  margin: 0;
  padding-left: 20px;
    padding-right: 20px;
    font-family: 'Courier New', Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f7eec6;
    /* background: linear-gradient(89deg, #e984d5 20%, #04C8DE 100%); */
}

button {
  cursor: pointer;
}
